:root {
  --Color-primario: #0d0801;
  --Color-secundario: #335b9c;
  --Color-variante: #e28e00;
  --Color-complemento: #141f30;
  --Color-claro: #ffffff;
  --Fuente1: "Lato", sans-serif;
  --Fuente2: "Oswald", sans-serif;
  --p-size-p: 1.6rem;
  --p-size-m: 1.7rem;
  --p-size-g: 1.8rem;
  --h4-size-p: 1.8rem;
  --h4-size-m: 2rem;
  --h4-size-g: 2.21rem;
  --h3-size-p: 2.16rem;
  --h3-size-m: 2.5rem;
  --h3-size-g: 2.87rem;
  --h2-size-p: 2.59rem;
  --h2-size-m: 3.13rem;
  --h2-size-g: 3.73rem;
  --h1-size-p: 3.11rem;
  --h1-size-m: 3.91rem;
  --h1-size-g: 4.86rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  width: 100vw;
  font-family: var(--Fuente1);
  font-size: var(--p-size-p);
  color: var(--Color-claro);
  background-color: var(--Color-primario);
}

h1 {
  font-family: var(--Fuente2);
  font-size: var(--h1-size-p);
  line-height: calc(var(--h1-size-p) * 1.3);
}
h2 {
  font-family: var(--Fuente2);
  font-size: var(--h2-size-p);
  line-height: calc(var(--h2-size-p) * 1.3);
}
h3 {
  font-family: var(--Fuente2);
  font-size: var(--h3-size-p);
  line-height: calc(var(--h3-size-p) * 1.3);
}
h4 {
  font-family: var(--Fuente2);
  font-size: var(--h4-size-p);
  line-height: calc(var(--h4-size-p) * 1.3);
}
p {
  font-family: var(--Fuente1);
  font-size: var(--p-size-p);
  line-height: calc(var(--p-size-p) * 1.3);
}

section {
  padding: 15px;
}

header {
  width: 100vw;
  height: 50px;
}
.header__section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.header__section.menu__is-active {
  overflow: initial;
}

.header__logo {
  width: 170px;
}
.header__logo img {
  width: 100%;
}
.header__icon-menu {
  width: 20px;
  height: 18px;
  background-image: url(../assets/icon/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__icon-menu.icon-close {
  background-image: url(../assets/icon/icon-close_white.svg);
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100vw;
  height: 210px;
  padding-block-start: 5px;
  padding-block-end: 10px;
  color: var(--Color-complemento);
  background-color: var(--Color-secundario);
  text-align: center;
  opacity: 0.95;
  transition: 0.3s;
}
.header__nav.is-active {
  left: 0;
}
.header__nav li {
  width: 70%;
  margin: 10px auto 0;
  padding: 3px;
  background-color: var(--Color-claro);
  border: 2px solid var(--Color-complemento);
  border-radius: 10px;
  list-style: none;
  cursor: pointer;
}
.header__nav li:active {
  color: var(--Color-claro);
  background-color: var(--Color-complemento);
  border: 2px solid var(--Color-secundario);
}
.header__nav li:focus {
  color: var(--Color-claro);
  background-color: var(--Color-complemento);
  border: 2px solid var(--Color-secundario);
}
.header__nav a {
  color: var(--Color-complemento);
  text-decoration: none;
}

/* ---------- MAIN -------------- */

main {
  width: 100vw;
  height: auto;
}

.main__hero {
  width: 100%;
  height: auto;
  background-image: url(../assets/images/Hero2_M_efecto_red2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__description {
  width: 100%;
  height: auto;
}
.hero__description img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.hero__description h2 {
  width: 100%;
  margin-block-start: 10px;
  margin-block-end: 220px;
}

.main__butttons {
  width: 100%;
  height: auto;
}
.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.buttons__container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 350px;
  width: 90%;
  height: auto;
  margin-block-start: 5px;
  margin-block-end: 5px;
  padding: 10px 20px;
  color: var(--Color-claro);
  font-weight: 700;
  background-color: var(--Color-complemento);
  border: 1px solid var(--Color-variante);
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--Color-variante);
}
.buttons__container button:hover {
  border: 1px solid var(--Color-secundario);
  box-shadow: 1px 1px 5px var(--Color-secundario);
  opacity: 0.8;
}
.buttons__all.is-active {
  border: 1px solid var(--Color-secundario);
  box-shadow: 1px 1px 5px var(--Color-secundario);
  opacity: 1;
}
.buttons__html.is-active {
  border: 1px solid var(--Color-secundario);
  box-shadow: 1px 1px 5px var(--Color-secundario);
  opacity: 1;
}
.buttons__css.is-active {
  border: 1px solid var(--Color-secundario);
  box-shadow: 1px 1px 5px var(--Color-secundario);
  opacity: 1;
}
.buttons__js.is-active {
  border: 1px solid var(--Color-secundario);
  box-shadow: 1px 1px 5px var(--Color-secundario);
  opacity: 1;
}
.buttons__all {
  opacity: 0.6;
}
.buttons__html {
  opacity: 0.6;
}
.buttons__css {
  opacity: 0.6;
}
.buttons__js {
  opacity: 0.6;
}
.buttons__container h4 {
  width: 100%;
  height: auto;
}
.img-buttons__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.img-buttons__container img {
  width: 24px;
  height: 24px;
  margin-inline-start: 10px;
}

.main__paged {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
  padding: 0 15px;
  height: auto;
  margin: 0 auto;
}
.main__paged.show {
  display: flex;
}
.paged__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
.number__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  border: 2px solid var(--Color-claro);
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
}
.number__item.hide {
  display: none;
}
.number__item:hover {
  color: var(--Color-claro);
  background-color: var(--Color-complemento);
  border: 2px solid var(--Color-secundario);
  opacity: 0.9;
}
.number__item.actived {
  width: 40px;
  height: 40px;
  color: var(--Color-claro);
  font-weight: 700;
  background-color: var(--Color-complemento);
  border: 2px solid var(--Color-secundario);
  opacity: 1;
}

.main__tutorials {
  width: 100%;
  height: auto;
}
.tutorials__cards {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-block-end: 15px;
  margin: 0 auto 15px;
  padding: 15px;
  color: var(--Color-claro);
  background-color: var(--Color-complemento);
  border: 1px solid var(--Color-secundario);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--Color-secundario);
}
.tutorials__cards.hide {
  display: none;
}
.cards__head {
  width: 100%;
  height: auto;
  margin-block-end: 10px;
}
.head__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-block-end: 10px;
}
.head__title img {
  width: 24px;
  height: 24px;
}
.head__description {
  width: 100%;
  height: auto;
  margin-block-end: 10px;
}
.head__button button {
  width: 150px;
  height: auto;
  padding: 8px;
  color: var(--Color-complemento);
  font-weight: 700;
  background-color: var(--Color-claro);
  border: 1px solid var(--Color-secundario);
  border-radius: 10px;
}
.cards__tutorial-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.tutorial__button {
  position: absolute;
  top: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--Color-complemento);
  border: 1px solid var(--Color-variante);
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}
.tutorial__button:hover {
  background-color: var(--Color-claro);
}
.tutorial__img-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin-inline-start: 0;
  transition: all 0.5s;
}
.tutorial__img-container.length4 {
  width: 400%;
}
.tutorial__img-container.length5 {
  width: 500%;
}
.tutorial__img-container.length6 {
  width: 600%;
}
.tutorial__img-container.length7 {
  width: 700%;
}
.tutorial__img-container.length8 {
  width: 800%;
}
.tutorial__img-container.length9 {
  width: 900%;
}
.img__container {
  /* max-width: 360px; */
  width: 100%;
  height: auto;
}
.img__container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.tutorial__indicator-container {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.indicator__mark {
  width: 7px;
  height: 7px;
  margin: 4px;
  background-color: var(--Color-claro);
  border-radius: 50%;
  opacity: 0.6;
}
.indicator__mark.actived {
  background-color: var(--Color-variante);
  opacity: 1;
}
.button__back {
  left: 0;
}
.button__next {
  right: 0;
}
.button__back.hide {
  display: none;
}
.button__next.hide {
  display: none;
}

.main__about {
  max-width: 400px;
  width: 91%;
  margin: 0 auto;
  height: auto;
  background-color: var(--Color-complemento);
  border: 1px solid var(--Color-variante);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--Color-variante);
}
.about__name {
  width: 100%;
}
.about__logo {
  max-width: 300px;
  width: 90%;
  margin: 10px auto;
}
.about__logo img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.about__name h3 {
  color: var(--Color-variante);
  text-align: center;
}
.about__avatar {
  width: 100%;
  height: auto;
}
.avatar__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
.avatar__image {
  width: 90%;
  margin: 15px auto 5px;
  border: 2px solid var(--Color-variante);
  border-radius: 15px;
  background-color: var(--Color-primario);
  overflow: hidden;
}
.avatar__image img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.avatar__social-media article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 8px;
  background-color: var(--Color-primario);
  border: 2px solid var(--Color-variante);
  border-radius: 50%;
}
.avatar__social-media article img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.about__description {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
.about__description p span {
  color: var(--Color-variante);
  font-weight: 600;
}

footer {
  width: 100vw;
  height: auto;
  margin-block-start: 20px;
  text-align: center;
  border-block-start: 1px solid var(--Color-complemento);
}
.footer__by {
  width: 100%;
  height: auto;
}
.by__logoMTWD {
  width: 100%;
  margin-block-end: 5px;
}
.by__logoMTWD img {
  display: block;
  max-width: 320px;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}
.by__logoKike {
  width: 100%;
  margin-block-start: 5px;
}
.by__logoKike img {
  display: block;
  max-width: 200px;
  width: 50%;
  margin: 0 auto;
  object-fit: cover;
}
.footer__copy {
  width: 100%;
  padding-block-start: 0;
}
