:root {
  --Color-primario: #0d0801;
  --Color-secundario: #335b9c;
  --Color-variante: #e28e00;
  --Color-complemento: #141f30;
  --Color-claro: #ffffff;
  --Fuente1: "Lato", sans-serif;
  --Fuente2: "Oswald", sans-serif;
  --p-size-p: 1.6rem;
  --p-size-m: 1.7rem;
  --p-size-g: 1.8rem;
  --h5-size-p: 2rem;
  --h5-size-m: 2.13rem;
  --h5-size-g: 2.25rem;
  --h4-size-p: 2.5rem;
  --h4-size-m: 2.66rem;
  --h4-size-g: 2.81rem;
  --h3-size-p: 3.13rem;
  --h3-size-m: 3.32rem;
  --h3-size-g: 3.52rem;
  --h2-size-p: 3.91rem;
  --h2-size-m: 4.15rem;
  --h2-size-g: 4.39rem;
  --h1-size-p: 4.88rem;
  --h1-size-m: 5.19rem;
  --h1-size-g: 5.49rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  font-family: var(--Fuente1);
  font-size: var(--p-size-p);
  color: var(--Color-claro);
  background-color: var(--Color-primario);
}

h1 {
  font-family: var(--Fuente2);
  font-size: var(--h1-size-p);
  line-height: calc(var(--h1-size-p) * 1.3);
}
h2 {
  font-family: var(--Fuente2);
  font-size: var(--h2-size-p);
  line-height: calc(var(--h2-size-p) * 1.3);
}
h3 {
  font-family: var(--Fuente2);
  font-size: var(--h3-size-p);
  line-height: calc(var(--h3-size-p) * 1.3);
}
h4 {
  font-family: var(--Fuente2);
  font-size: var(--h4-size-p);
  line-height: calc(var(--h4-size-p) * 1.3);
}
h5 {
  font-family: var(--Fuente2);
  font-size: var(--h5-size-p);
  line-height: calc(var(--h5-size-p) * 1.3);
}

section {
  padding: 10px 20px;
}

header {
  width: 100%;
  height: 60px;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 290px;
}
.header__logo img {
  width: 100%;
}
.header__icon-menu {
  width: 20px;
  height: 18px;
  background-image: url(../assets/icon/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__icon-menu.icon-close {
  background-image: url(../assets/icon/icon-close.svg);
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 170px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  color: var(--Color-claro);
  background-color: var(--Color-variante);
  text-align: center;
  opacity: 0.75;
}
.header__nav li {
  margin-block-start: 10px;
  list-style: none;
  cursor: pointer;
}
.header__nav a {
  color: var(--Color-claro);
  text-decoration: none;
}
